<div class="bg-white dark:bg-slate-800 px-6 py-3 dark:bg-gray-800 dark:text-white">
  <div class="container mx-auto mt-12">
  <%= render "form", quiz: @quiz %>
  <br>
  <div>
    <%= link_to t("quizzes.actions.show"), @quiz %> |
    <%= link_to t("quizzes.actions.back"), quizzes_path %>
  </div>
</div>
