<p style="color: green"><%= notice %></p>

<h1>Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <p>
      <%= link_to t("quizzes.actions.show"), quiz %>
    </p>
  <% end %>
</div>

<%= link_to t("quizzes.actions.new"), new_quiz_path %>
