<p style="color: green"><%= notice %></p>

<h1>Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <ul>
      <li>
        <%= quiz.category %>
        <%= link_to quiz.title, quiz %> 
      </li>
    </ul>
  <% end %>
</div>

<%= link_to t("quizzes.actions.new"), new_quiz_path %>
