<header class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl dark:bg-gray-800">
  <div class="flex">
    <div>
      <details class="dropdown mb-32">
        <summary class="m-1 btn">
          <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <li><a>ログイン</a></li>
          <li><%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post} %></li>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </details>
    </div>
    <div class="ml-auto">
      <input type="checkbox" class="toggle toggle-warning" id="toggle-dark-mode" checked />
      <label for="toggle-dark-mode">
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"><!-- ... --></svg>
      </label>
    </div>
  </div>
</header>