<div class="bg-white dark:bg-slate-800 text-gray-500">
  <!-- Googleログインのクライアントライブラリの読み込み 下記1行を追加 -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <div class="title my-5">
    <h1 class="text-5xl font-bold text-center">KnowledgeTreeQuiz</h1>
    <h2 class="text-2xl font-bold text-center">みんなで育てる知識の木</h2>
  </div>
  <div class="concept my-5">
    <h3 class="text-2xl font-bold text-center">ナレッジツリークイズとは？</h3>
    <p class="text-center">エンジニア学習における知識を、クイズ形式で投稿＆回答して学べるサービスです</p>
  </div>
  <div class="how-to-use my-5">
    <h3 class="text-2xl font-bold text-center">1.クイズをつくって、学んだことをアウトプットしよう！</h3>
    <p class="text-center">→授業を聞く5%、読書する10%に対し、「他人に教える」と90%記憶定着率が上がります🌲</p>
    <h3 class="text-2xl font-bold text-center">2.誰かがつくったクイズの解説ページで、<br>補足や関連知識を教え合うこともできるよ！</h3>
    <p class="text-center">→いいねがつくとより上に表示されます⭐️</p>
    <h3 class="text-2xl font-bold text-center">3.みんなで知識を木のように育てましょう！</h3>
    <p class="text-center">→知識を関連づけて、楽しく学びましょう✨</p>
  </div>
  <div class="log-in my-5 text-center">
    <button class="btn btn-info">ログイン</button>
    <button class="btn btn-success">ゲストログイン</button>

    <!-- Googleログインボタンの表示 ここから追加 -->
      <div id="g_id_onload"
        data-client_id= <%= ENV['GOOGLE_CLIENT_ID'] %>
        data-login_uri=<%= Settings.login[:google_login] %>
        data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
      </div>
    <!-- ここまで追加 -->
  </div>
</div>
