<html data-theme="dark"></html>
<p>QUIZ_APP</p>
<br>
<button class="btn">Button</button>
<br>
<button class="btn btn-primary">Button</button>
<br>
<button class="btn w-64 rounded-full">Button</button>
