<div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl dark:bg-gray-800">
  <div>
    <input type="checkbox" class="toggle toggle-warning" id="toggle-dark-mode" checked />
    <label for="toggle-dark-mode">
      <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"><!-- ... --></svg>
    </label>
  </div>
</div>