<div class="bg-white dark:bg-slate-800 text-gray-500">
  <!-- Googleログインのクライアントライブラリの読み込み 下記1行を追加 -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <div class="title my-5">
    <h1 class="text-5xl font-bold text-center">KnowledgeTreeQuiz</h1>
    <h2 class="text-2xl font-bold text-center">みんなで育てる知識の木</h2>
  </div>
  <div class="concept my-5">
    <h3 class="text-2xl font-bold text-center">ナレッジツリークイズとは？</h3>
    <p class="text-center">エンジニア学習における知識を、クイズ形式で投稿＆回答して学べるサービスです</p>
  </div>
  <div class="how-to-use my-5">
    <h3 class="text-2xl font-bold text-center">1.クイズをつくって、学んだことをアウトプットしよう！</h3>
    <p class="text-center">→授業を聞く5%、読書する10%に対し、「他人に教える」と90%記憶定着率が上がります🌲</p>
    <h3 class="text-2xl font-bold text-center">2.誰かがつくったクイズの解説ページで、<br>補足や関連知識を教え合うこともできるよ！</h3>
    <p class="text-center">→いいねがつくとより上に表示されます⭐️</p>
    <h3 class="text-2xl font-bold text-center">3.みんなで知識を木のように育てましょう！</h3>
    <p class="text-center">→知識を関連づけて、楽しく学びましょう✨</p>
  </div>
  <% unless current_user %>
    <div class="log-in my-5 text-center">
      <%= link_to "ログイン", user_google_oauth2_omniauth_authorize_path, class: "btn btn-info", method: :post %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-success", data: { turbo_method: :post} %>
    </div>
  <% end %>
</div>

