@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

.developers{
  margin: 0;
  height: calc(100vh - 8em);
  font-family: "Muli", sans-serif;
  background-color: #f9f9f9;
}

.developers h1 {
  text-align: center;
  margin: 1.5em;
}

.developers .container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 5s infinite alternate linear;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 500px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 5s infinite alternate linear;
  }

  @keyframes carouselAnim {
    from {
      transform: translate(calc(-100% + (2 * 300px)));
    }
    to {
      transform: translate(calc(-100% + (5 * 600px)));
    }
  }
}

.entry p {
  text-align: center;
  padding: 1em;
}

.entry .ogp_img {
  width: 100%;
  height: 200px;
  border-radius: 10%;
}

.entry .profile_img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px white solid;
}


.entry .name {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 10px 0 0;
  background: linear-gradient(
    210.41deg,
    #8bdeda 15%,
    #43add0 23.96%,
    #998ee0 43.57%,
    #e17dc2 65.17%,
    #ef9393 86.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes carouselAnim {
  from {
    transform: translate(calc(-100% + (2 * 300px)));
  }
  to {
    transform: translate(calc(-100% + (5 * 600px)));
  }
}

.container .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.faders .right,
.faders .left {
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
